.recommended-cards {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.recommendations,
.recommendations-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.recommendations-title {
  width: 1680px;
  flex-direction: row;
}
.recommendations {
  align-self: stretch;
  background-color: #efeae3;
  flex-direction: column;
  padding: 80px 20px;
  box-sizing: border-box;
  gap: 24px;
  text-align: left;
  font-size: 32px;
  color: #000;
  font-family: Inter;
}
@media screen and (max-width: 850px) {
  .recommended-cards {
    font-size: 26px;
    line-height: 31px;
  }
  .recommendations {
    padding-top: 52px;
    padding-bottom: 52px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .recommended-cards {
    font-size: 19px;
    line-height: 23px;
  }
}
